<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ site.author.name }}">
    
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}    

    {% if page.feed %}
    <link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
    {% endif %}
    <!-- Le styles -->
    <link href="/theme-readable.github.io/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/theme-readable.github.io/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/theme-readable.github.io/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/theme-readable.github.io/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/theme-readable.github.io/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/theme-readable.github.io/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/theme-readable.github.io/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/theme-readable.github.io/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">Pradeep Nayak</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/archive.html">Archive</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

    <div class="container">
          <h1 class>{{ page.title }}</h1>

            {{ content }}

           <div class="prev-next">
            <ul class="pager">
                  <li>
            {% if page.previous %}
              <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
            {% endif %}
              </li>
              <li>
            {% if page.next %}
              <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
            {% endif %}
              </li>

            </ul>
            </div>
            <address class="signature">
              <span class="date">Published on {{ page.date | date_to_long_string }}</span>
              <span class="location">{{ page.location }}</span>
            </address>
    </div>
  </body>
  </html> 